.headericon{
  font-size: 25px;
  color: #262626;
  margin: 0.5rem;
  cursor: pointer;
}

.header{
  padding: 0;
  display: flex;
  margin: 5px 0px;
}

.text{
  font-size: "16px";
  font-weight: 700;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}